---
---
<header>
  <a href="/" class="site-name">IFS Encyclopedia</a>
  <nav>
    <a href="/">Home</a>
    <a href="/ifs">Catalog</a>
    <a href="/tools">Tools</a>
    <a href="/about">About</a>
  </nav>
</header>
